#extends IgorUnitSuite
#implements respond

#def END_TEST
    return 0
End
#end def

#def TEST_SETUP($groupname)
Function ${groupname}_setup()
#end def

#def END_SETUP
    return 0
End
#end def

#def TEST_TEARDOWN($groupname)
Function ${groupname}_teardown()
#end def

#def END_TEARDOWN
    return 0
End
#end def

#def MAIN()
Function runAllTests()
    STRUCT TestSuite ts
    TS_init(ts)

    STRUCT TestSuiteRunner tsr
    TSR_init(tsr, ts)

    #for $group in $suite.groups
    TS_addGroup(ts, "${group.get_name}")
    #for $test in $group.tests
    TS_addTest(ts, "${group.get_name}", "${test.get_name}")
    #end for
    #end for
    TSR_runAllTests(tsr)
End
#end def

$IGORUNIT_TESTS

$TEST_SETUP("A")
$END_SETUP

$TEST_TEARDOWN("A")
$END_TEARDOWN

$TEST("A", "firsttest")
$ASSERT("1 == 2")
$END_TEST

$MAIN