#def ASSERT_BASE($condition, $fail_msg)
    if ($condition)
    $SUCCEED()
    else
    $FAIL($fail_msg)
    endif
#end def

#def ASSERT($condition)
    sprintf msg, "%s is not true", "$condition"
$ASSERT_BASE($condition, "msg")
#end def

#def SUCCEED()
    TR_addSuccess(tr, groupname, testname, "")
#end def

#def FAIL($msg)
    TR_addFailure(tr, groupname, testname, $msg)
#end def